<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506426952596-6bbvc24eg8onvap9v835sfbleipk6944.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506426952596-6bbvc24eg8onvap9v835sfbleipk6944</string>
	<key>API_KEY</key>
	<string>AIzaSyDHKh2YGftFcL6x27682ncjJINp18jvEHg</string>
	<key>GCM_SENDER_ID</key>
	<string>506426952596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jossfamily.Trips</string>
	<key>PROJECT_ID</key>
	<string>joss-travel-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>joss-travel-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506426952596:ios:2a6f4d019d8df17d241d81</string>
</dict>
</plist>